@import "./_colors.scss";

.form {
  section {
    h2 {
      margin: 1rem 0;
    }
    input {
      width: 100%;
      outline: solid 2px $primary-grey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin: 0.5rem 0;
    }
    textarea {
      width: 100%;
      outline: solid 2px $primary-grey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      margin: 0.5rem 0;
    }
  }
  button {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: white;
    background-color: $primary-blue;
    transition: transform 250ms;
    &.delete {
      box-shadow: inset 0px 0px 0px 1px $primary-blue;
      background-color: white;
      color: $primary-blue;
    }
    &.example,
    &.reset {
      background-color: $primary-grey;
      color: $secondary-grey;
    }
  }
  button:hover {
    background-color: $primary-violet;
    &.delete {
      box-shadow: inset 0px 0px 0px 1px $primary-violet;
      background-color: white;
      color: $primary-violet;
    }
    &.example,
    &.reset {
      box-shadow: inset 0px 0px 0px 1px $secondary-grey;
      background-color: $primary-grey;
      color: black;
    }
  }
}
