@import "./_colors.scss";

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: $primary-blue;
  border-bottom: 2px solid $primary-grey;

  .icon {
    font-size: 2.2rem;
  }
}
